//-----------------------------------------------------------------------//
// $CONFIG-MEASUREMENTS
//-----------------------------------------------------------------------//

// SIZES
// ==================================================================
// Following are various sizes for unit margins, line thicknesses, etc.

:root {

    // Line Thickness:
    // ------------------------------------------------------------------
    // Defines the line thickness for borders, <hr> tags, etc.
    // Use rem units
    --sf-line-width:  1px;

    // FORMS
    // ==================================================================
    // Sizes for various form elements, like fieldset row spacing.
    // Applies to [role="row"]
    --fieldset-row-spacing: 1.5rem;

    // OUTER UNIT MEASUREMENTS
    // ------------------------------------------------------------------
    // These are the block containers marked "sf-unit" that you stack to create your UX.

    // <main>
    //     <section id="hero-unit" sf-unit>
    //         <div sf-outer-wrapper>
    //             <div sf-inner-wrapper>
    //                 ...
    //             </div>
    //         </div>
    //     </div>
    //     <section id="feature-unit" sf-unit>
    //         <div sf-outer-wrapper>
    //             <div sf-inner-wrapper>
    //                 ...
    //             </div>
    //         </div>
    //     </div>
    //     ...

    --zero-block-lr-padding: 1.25rem;
    --zero-block-tb-padding: 3rem;

    --phab-block-lr-padding: 2rem;
    --phab-block-tb-padding: 3rem;

    --tabp-block-lr-padding: 3rem;
    --tabp-block-tb-padding: 4rem;

    --tabl-block-lr-padding: 3rem;
    --tabl-block-tb-padding: 4rem;

    --note-block-lr-padding: 3rem;
    --note-block-tb-padding: 4rem;

    --desk-block-lr-padding: 3rem;
    --desk-block-tb-padding: 4rem;

    --elas-block-lr-padding: 5rem;
    --elas-block-tb-padding: 4rem;


    // INNER (sub)UNIT MEASUREMENTS
    // ------------------------------------------------------------------
    // These are the inner block containers that you stack to create your content UX.

    // <section sf-unit>
    //     ...
    //     <div id="hero-unit" sf-subunit>
    //         <div sf-grid>
    //             <div sf-grid-cell>
    //                 ...
    //             </div>
    //         </div>
    //     </div>
    //     ...
    // </section>

    --zero-tb-subunit-padding: 3rem;
    --phab-tb-subunit-padding: 3rem;
    --tabp-tb-subunit-padding: 3rem;
    --tabl-tb-subunit-padding: 3rem;
    --note-tb-subunit-padding: 3rem;
    --desk-tb-subunit-padding: 3rem;
    --elas-tb-subunit-padding: 3rem;
}
