//------------------------------------//
//  $CONFIG
//------------------------------------//

//-----------------------------------------------------------------------//
// Control page widths, colors, font families, and much more by changing
// and adding variables here. Required items are noted.
//-----------------------------------------------------------------------//

// sfumato version number
$sfumato-version: "1.0.0";

// sfumato Version can be displayed using <span id="sfumato-version" role="status"></span>
span#sfumato-version[role="status"]::after {

    content: quote($sfumato-version);
}

// Support browsers from 2014 and later 
// (e.g. grid uses tag attributes like sf-cols, sf-tabp-cols, etc.)
// Generates a much larger CSS file
$enable-legacy-features: false;

// Support browsers from 2016 and later
// (e.g. use CSS custom properties, calc(), etc.)
// Generates the smallest CSS file
$enable-2016-features: true;

// Load all configuration files
@import "config-breakpoints";
@import "config-colors";
@import "config-typography";
@import "config-measurements";
