//-----------------------------------------------------------------------//
// $CONFIG-MEASUREMENTS
//-----------------------------------------------------------------------//

/* OUTER UNIT MEASUREMENTS
These are the outer block containers that you stack to create your UX.

<main>
    <section id="hero-unit" sf-unit>
        <div sf-outer-wrapper>
            <div sf-inner-wrapper>
                ...
            </div>
        </div>
    </div>
    <section id="feature-unit" sf-unit>
        <div sf-outer-wrapper>
            <div sf-inner-wrapper>
                ...
            </div>
        </div>
    </div>
    ...
*/

$horizontal-unit-padding: 1.25rem;
$vertical-unit-padding: 3rem;

$phablet-horizontal-unit-padding: 2rem;
$phablet-vertical-unit-padding: 3rem;

$tablet-portrait-horizontal-unit-padding: 3rem;
$tablet-portrait-vertical-unit-padding: 4rem;

$tablet-landscape-horizontal-unit-padding: 3rem;
$tablet-landscape-vertical-unit-padding: 4rem;

$notebook-horizontal-unit-padding: 3rem;
$notebook-vertical-unit-padding: 4rem;

$desktop-horizontal-unit-padding: 3rem;
$desktop-vertical-unit-padding: 4rem;

$elastic-horizontal-unit-padding: 5rem;
$elastic-vertical-unit-padding: 4rem;


/* GUTTERS
Gutters are the gaps between grid cells. 
Use percentages or rems.
*/
$grid-gutters: (

    one-whole: 0%, // sf-columns="1"
    one-half: 5%, // sf-columns="2"
    one-third: 3%, // sf-columns="3"
    one-quarter: 3%, // sf-columns="4"
    one-fifth: 3%, // sf-columns="5"
    one-sixth: 3%, // sf-columns="6"
    one-seventh: 3%, // sf-columns="7"
    one-eighth: 3%, // sf-columns="8"
    one-ninth: 3%, // sf-columns="9"
    one-tenth: 3%, // sf-columns="10"
    one-eleventh: 3%, // sf-columns="11"
    one-twelfth: 3% // sf-columns="12"
);

/* VERTICAL GUTTERS
Vertical gutters are the gaps below rows of grid cells.
Use rems.
*/
$vertical-gutter: 3rem;
$phablet-vertical-gutter: 3rem;
$tablet-portrait-vertical-gutter: 2.25rem;
$tablet-landscape-vertical-gutter: 2.25rem;
$notebook-vertical-gutter: 2.25rem;
$desktop-vertical-gutter: 2.25rem;
$elastic-vertical-gutter: 2.25rem;

/* FORMS
Sizes for various form elements, like fieldset row spacing.
*/
$fieldset-row-spacing: 1.25rem;

