//-----------------------------------------------------------------------//
// STYLE GUIDE
//-----------------------------------------------------------------------//

@import "manifest";

// YOUR CUSTOM PARTIALS
@import "custom/fonts";
@import "custom/typography";
@import "custom/forms";
@import "custom/buttons";
@import "custom/lists-and-tables";
@import "custom/media";
@import "custom/layout-framework";
@import "custom/layout-header";
@import "custom/layout-footer";

body > div > div > div > div {
    
    > main {

        // Primary wrapped containers with an elastic max-width
        > section[role="region"] {

            @include sf-set-color-scheme (white);

            border-top: solid 1px sf-get-color(graylighter);

            margin-top: 2.224rem;

            padding-top: 2.6688rem;
            padding-bottom: 1.112rem;
            @include sf-padding-horizontal(1.112rem);

            @include sf-media($from: tablet-portrait) {

                margin-top: 1.675rem;
                padding-top: 3.35rem;
                padding-bottom: 1.675rem;
                @include sf-padding-horizontal(3.35rem);
            }

            & > h2 {

                margin-top: 0;
            }

            &:first-child {

                margin-top: 0;
                border-top: none;
                padding-top: 1.3344rem;

                @include sf-media($from: tablet-portrait) {

                    padding-top: 1.675rem;
                }
            }

            p:last-child, ol:last-child {

                margin-bottom: 0;
            }

            // Back to top links
            nav[role="link"] {

                a[href="#top"] {

                    position: relative;
                    display: block;
                    z-index: 999;

                    color: sf-get-color(primary);
                    text-align: center;

                    margin-top: 4.0032rem;

                    @include sf-media($from: tablet-portrait) {

                        margin-top: 4.02rem;
                    }
                }
            }

            article {

                margin-top: 1.0008rem;
                margin-bottom: 3rem;

                @include sf-media($from: tablet-portrait) {

                    margin-top: 1.34rem;
                }

                &:first-child {

                    margin-top: 0;
                }

                [role="gridcell"] {

                    h3 {
                        
                        @include sf-margin-top(2.0016rem, $tablet-portrait-size: 2.01rem);
                    }
                }

                &#standard-grid-unit {

                    p {

                        margin-top: 0;
                        margin-bottom: 0.8896rem;

                        @include sf-media($from: tablet-portrait) {

                            margin-bottom: 1.005rem;
                        }

                        &:last-child {

                            margin-bottom: 0;
                        }

                        &[role="definition"] {

                            @include sf-hide($from: tablet-portrait);
                        }
                    }

                    section[role="grid"] {
                        
                        // Grid cell defaults
                        [role="gridcell"] {

                            p {
                            
                                padding-top: 0.6672rem;
                                line-height: 1.3;

                                @include sf-media($from: tablet-portrait) {

                                    padding-top: 0.67rem;
                                }
                            }

                            h3 {
                                
                                margin-top: 0;
                            }
                                
                            &:nth-child(1) > section {

                                @include sf-set-color-scheme (primary);
                            }

                            &:nth-child(2) > section {

                                @include sf-set-color-scheme (secondary);
                            }

                            &:nth-child(3) > section {

                                @include sf-set-color-scheme (tertiary);
                            }

                            &:nth-child(4) > section {

                                @include sf-set-color-scheme (quaternary);
                            }

                            &:nth-child(5) > section {

                                @include sf-set-color-scheme (gold);
                            }

                            &:nth-child(6) > section {

                                @include sf-set-color-scheme (green);
                            }

                            &:nth-child(7) > section {

                                @include sf-set-color-scheme (orange);
                            }

                            &:nth-child(8) > section {

                                @include sf-set-color-scheme (red);
                            }

                            > section {

                                padding-top: 0;
                                padding-bottom: 0;

                                > div {

                                    padding: 1.0008rem;
                                    color: sf-get-color(white);

                                    text-align: center;

                                    @include sf-media($from: tablet-portrait) {

                                        padding: 1.34rem;
                                    }

                                    h3 {

                                        font-weight: normal;
                                        color: sf-get-color(white);
                                        font-size: 1.5568rem;
                                        line-height: 1.5568rem;

                                        padding-top: 0;
                                        border-bottom: 0;
                                        margin-bottom: 0;

                                        @include sf-media($from: tablet-portrait) {

                                            font-size: 1.675rem;
                                            line-height: 1.675rem;
                                        }
                                    }
                                }
                            }
                        }

                        &#single-row {

                            @include sf-flexbox-grid();

                            > [role="gridcell"] {

                                @include sf-set-width (
                                    $from: tablet-portrait,
                                    $width: one-third
                                );

                                &:nth-child(3), &:nth-child(4) {

                                    @include sf-set-width (
                                        $from: tablet-portrait,
                                        $width: one-sixth
                                    );
                                }
                            }
                        }

                        &#push-pull {

                            @include sf-flexbox-grid();

                            > [role="gridcell"] {

                                @include sf-set-width (
                                    $from: tablet-portrait,
                                    $width: one-third
                                );

                                &:nth-child(1) {

                                    @include sf-push (
                                        $from: tablet-portrait,
                                        $width: one-sixth);
                                }

                                &:nth-child(2) {

                                    @include sf-push (
                                        $from: tablet-portrait,
                                        $width: one-sixth);
                                }
                            }
                        }

                        &#single-gutters, &#single-gutters-nested {

                            @include sf-flexbox-grid(
                                $row-gutter: 1rem
                            );

                            @include sf-flexbox-grid(
                                $from: tablet-portrait,
                                $gridcell-width: one-third,
                                $gutter: 3%,
                                $row-gutter: 2rem
                            );

                            > [role="gridcell"] {

                                [role="grid"] {

                                    @include sf-flexbox-grid();

                                    &#nested1 {

                                        > [role="gridcell"] {

                                            font-size: 0.7rem;
                                            line-height: 1.5;

                                            h3 {

                                                font-size: 1rem;
                                                line-height: 1.5;
                                            }

                                            section > div {

                                                padding: 0.6672rem;

                                                @include sf-media($from: tablet-portrait) {

                                                    padding: 0.67rem;
                                                }
                                            }

                                            @include sf-set-width (
                                                $from: tablet-portrait,
                                                $width: one-half
                                            );
                                        }
                                    }

                                    &#nested2 {

                                        margin-top: 0.3336rem;

                                        font-size: 0.7rem;
                                        line-height: 1.5;

                                        @include sf-media($from: tablet-portrait) {

                                            margin-top: 0.335rem;
                                        }
    
                                        h3 {

                                            font-size: 1rem;
                                            line-height: 1.5;
                                        }

                                        section > div {

                                            padding: 0.6672rem;

                                            @include sf-media($from: tablet-portrait) {

                                                padding: 0.67rem;
                                            }
                                        }

                                        @include sf-flexbox-grid();

                                        > [role="gridcell"] {

                                            @include sf-set-width (
                                                $from: tablet-portrait,
                                                $width: one-whole
                                            );
                                        }
                                    }
                                }
                            }
                        }

                        &#single-gutters-reverse {

                            @include sf-flexbox-grid(
                                $use-reverse: true
                            );

                            > [role="gridcell"] {

                                @include sf-set-width (
                                    $from: tablet-portrait,
                                    $width: one-third
                                );
                            }
                        }

                        &#single-gutters-varied {

                            @include sf-flexbox-grid();

                            > [role="gridcell"] {

                                @include sf-set-width (
                                    $from: tablet-portrait,
                                    $width: one-third
                                );

                                &:nth-child(4) {

                                    @include sf-set-width (
                                        $from: tablet-portrait,
                                        $width: one-half
                                    );
                                }

                                &:nth-child(5), &:nth-child(6) {

                                    @include sf-set-width (
                                        $from: tablet-portrait,
                                        $width: one-quarter
                                    );
                                }
                            }
                        }

                        &#single-gutters-equal-heights {

                            @include sf-flexbox-grid();

                            > [role="gridcell"] {

                                @include sf-set-width (
                                    $from: tablet-portrait,
                                    $width: one-third
                                );
                            }
                        }
                    }
                }
            }
        }
    }
}
