/**
 * @structure Styled Form Inputs
 * @section Layout > Forms
 * @markup
 *  <div sf-form>
 *    ...
 *  </div>
 */
[sf-form] {

    position: relative;

    /**
     * @atom Form Row
     * @section Layout > Forms
     * @modifiers
     *  [sf-row] - Spaces out rows of form elements as a shortcut to using a CSS grid.
     * @markup
     *  <div sf-form>
     *    <div sf-row>
     *      ...
     *    </div>
     *    <div sf-row>
     *      ...
     *    </div>
     *  </div>
     */
    [sf-row] {

        margin-bottom: var(--sf-fieldset-row-spacing);

        &[sf-list] {

            margin-bottom: var(--sf-fieldset-row-spacing) / 2;
        }

        &:last-of-type {

            margin-bottom: 0;
        }
    }

    /**
     * @atom Input Label
     * @section Layout > Forms
     * @modifiers
     *  [sf-label] - Text associated with some form input controls, like radio buttons.
     */
    [sf-label] {

        display: block;
        font-size: 0.9rem;
        font-weight: 500;
        padding-bottom: 0.5rem;

        /**
         * @atom Input Label Bottom Line
         * @section Layout > Forms
         * @modifiers
         *  [sf-with-line] - Show a line at the bottom of a label.
         */
        &[sf-with-line] {

            border-bottom: solid var(--sf-line-width) rgba(0, 0, 0, 0.25);
            margin-bottom: 1.25rem;
        }
        
        small {

            display: block;
            padding-bottom: 0.5rem;
        }
    }

    [sf-metric], [sf-label], [sf-textbox], [sf-listbox], [sf-filebox], [sf-radios], [sf-checkboxes] {
    
        label {

            display: block;
            font-family: var(--sf-font-family-forms);
            font-size: 0.9rem;
            font-weight: 500;
            padding-bottom: 0.5rem;
        }
    }

    [sf-validation-message] {

        display: block;
        padding-top: 0.5rem;
        font-family: var(--sf-font-family-forms);
        font-size: 0.9rem;
        font-weight: bold;

        &:empty, &[sf-empty] {

            display: none;
        }
    }

    /**
     * @structure Read-only Label or Metric
     * @section Layout > Forms
     * @modifiers
     *  [sf-label, sf-metric] - Show read-only text in place of a true input field; appears as a field but cannot be edited.
     * @markup
     *  <div sf-metric>
     *    <label>Example Metric</label>
     *    <span sf-wrapper><span>This is the metric text</span></span>
     *  </div>
     */
    [sf-metric], [sf-label] {
    
        & > [sf-wrapper] {

            display: block;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.05);
            border: var(--sf-line-width) solid var(--sf-color-clear);
            border-radius: 0.15rem;
            padding: 0.35rem 0.65rem;
            font-size: 0;
        
            &[sf-light] {

                background-color: var(--sf-color-white);
            }
        
            & > * {

                display: inline-block;
                max-width: 100%;
                min-height: 1.5rem;
                padding: 0;
                margin: 0;
                font-family: var(--sf-font-family-forms);
                font-size: 1rem;
                color: var(--sf-color-dark);
            }
        
            @include sf-media($from: tabp) {

                border-width: var(--sf-line-width);
            }
        }
        
        &[sf-metric] {
        
            & > [sf-wrapper] {

                display: inline-block;
                padding: 0.35rem 1rem;
                text-align: center;
            
                & > * {

                    font-size: 2rem;
                    line-height: 1.6;
                }
            }
        }
    }

    /**
     * @structure Text Input
     * @section Layout > Forms
     * @modifiers
     *  [sf-textbox] - Styled text input.
     * @markup
     *  <div sf-textbox>
     *     <label for="textbox1">Enter some text</label>
     *     <span sf-wrapper><input type="text" id="textbox1" name="textbox1" placeholder="Enter some text"></span>
     *     <span sf-validation-message></span>
     *  </div>
     */
    [sf-textbox], [sf-listbox], [sf-filebox] {
    
        & > [sf-wrapper] {

            position: relative;
            display: block;
            width: 100%;
            background-color: var(--sf-color-input);
            border: var(--sf-line-width) solid var(--sf-color-form-field-line);
            border-radius: 0.15rem;
            padding: 0 0.65rem 0 0.65rem;
            font-size: 0;
        
            & > * {

                font-size: 1rem;
            }
        
            @include sf-media($from: tabp) {

                border-width: var(--sf-line-width);
            }
        
            input, textarea {

                position: relative;
                width: 100%;
                max-width: 100%;
                padding: 0;
                border: none;
                box-shadow: none;
                background: transparent;
                background-image: none;
                border-radius: 0;
                -webkit-appearance: none;
                -moz-appearance: none;
                height: 1.3rem;
                line-height: 1.3rem;
                overflow: visible;
                color: var(--sf-color-input-contrast);
                margin: 0.5rem 0;
                font-family: var(--sf-font-family-forms);
          
                &:focus {

                    outline: none;
                }
          
                @include sf-placeholder {

                    color: var(--sf-color-input-accent);
                    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
                }
            }

            textarea {
                height: auto;
                min-height: 1.3rem;
            }
        }

        /**
         * @atom Currency Text Input Style
         * @section Layout > Forms
         * @modifiers
         *  [sf-currency] - Text input styled for U.S. currency input.
         * @markup
         *  <div sf-textbox sf-currency>
         *     <label for="textbox1">Enter some text</label>
         *     <span sf-wrapper><input type="text" id="textbox1" name="textbox1" placeholder="Enter some text"></span>
         *     <span sf-validation-message></span>
         *  </div>
         */
        &[sf-currency] {
      
            [sf-wrapper] {
        
                span {

                    display: inline-block;
                    width: 1rem;
                    line-height: 1.3rem;
                    padding-right: 0.5rem;
          
                    &::after {

                        color: var(--sf-color-input-accent);
                        content: '$';
                    }
                }
          
                input {

                    width: calc(100% - 1rem);
                }
            }
        }

        /**
         * @atom Percentage Text Input Style
         * @section Layout > Forms
         * @modifiers
         *  [sf-currency] - Text input styled for percentage input.
         * @markup
         *  <div sf-textbox sf-percentage>
         *     <label for="textbox1">Enter some text</label>
         *     <span sf-wrapper><input type="text" id="textbox1" name="textbox1" placeholder="Enter some text"></span>
         *     <span sf-validation-message></span>
         *  </div>
         */
        &[sf-percentage] {
      
            [sf-wrapper] {

                text-align: right;
          
                span {

                    position: relative;
                    display: inline-block;
                    width: 1rem;
                    line-height: 1.3rem;
                    padding-left: 0.5rem;
                    text-align: left;
                    transform: translateY(-50%);
                    top: calc(50% + 0.07rem);

                    &::after {

                        color: var(--sf-color-input-accent);
                        content: '%';
                    }
                }
          
                input {

                    width: calc(100% - 1rem);
                }
            }
        }

        /**
         * @atom Search Text Input Style
         * @section Layout > Forms
         * @modifiers
         *  [sf-search] - Text input styled for search input.
         * @markup
         *  <div sf-textbox sf-search>
         *     <label for="textbox1">Enter some text</label>
         *     <span sf-wrapper><svg /><input type="text" id="textbox1" name="textbox1" placeholder="Enter some text"></span>
         *     <span sf-validation-message></span>
         *  </div>
         */
        &[sf-search] {
      
            [sf-wrapper] {

                padding-left: 2rem;
                
                svg {

                    display: inline-block;
                    width: 1rem;
                    padding: 0;
                    top: 50%;
                    left: 0.65rem;
                    position: absolute;
                    transform: translateY(-50%);

                    path.foreground {

                        fill: var(--sf-color-search-icon) !important;
                    }
                }
            }
        }
    }
    
    [sf-label], [sf-textbox], [sf-listbox], [sf-filebox], [sf-radios], [sf-checkboxes], [sf-radio], [sf-checkbox] {

        /**
         * @atom Invalid Input Style
         * @section Layout > Forms
         * @modifiers
         *  [sf-invalid] - Style text inputs as having invalid input.
         * @markup
         *  <div sf-textbox sf-invalid>
         *     <label for="textbox1">Enter some text</label>
         *     <span sf-wrapper><input type="text" id="textbox1" name="textbox1" placeholder="Enter some text"></span>
         *     <span sf-validation-message></span>
         *  </div>
         */
        &[sf-invalid] {
      
            label, [sf-checkbox-label], [sf-validation-message] {

                color: var(--sf-color-danger);
            }
        
            [sf-validation-message] {

                display: block;
            }

            &[sf-checkbox] {

                [sf-validation-message] {

                    margin-top: 0.75rem;
                }
            }
            
            label {

                font-weight: bold;
            }
        
            [sf-wrapper] {

                border-color: var(--sf-color-danger);
        
                input, select, textarea {
  
                    color: var(--sf-color-danger);
                }
            }
        
            &:empty {

                display: none;
            }
        }

        /**
         * @atom Valid Input Style
         * @section Layout > Forms
         * @modifiers
         *  [sf-valid] - Style text inputs as having valid input.
         * @markup
         *  <div sf-textbox sf-valid>
         *     <label for="textbox1">Enter some text</label>
         *     <span sf-wrapper><input type="text" id="textbox1" name="textbox1" placeholder="Enter some text"></span>
         *     <span sf-validation-message></span>
         *  </div>
         */
        &[sf-valid] {
      
            label, [sf-validation-message] {

                color: var(--sf-color-success);
            }
        
            label {

                font-weight: bold;
            }
        
            [sf-wrapper] {

                border-color: var(--sf-color-success);
          
                input, select, textarea {

                    color: var(--sf-color-success);
                }
            }
        
            &:empty {

                display: none;
            }
        }

        /**
         * @atom Read-Only Input Style
         * @section Layout > Forms
         * @modifiers
         *  [sf-readonly] - Style text inputs as being read-only.
         * @markup
         *  <div sf-textbox sf-readonly>
         *     <label for="textbox1">Enter some text</label>
         *     <span sf-wrapper><input type="text" id="textbox1" name="textbox1" readonly></span>
         *     <span sf-validation-message></span>
         *  </div>
         */
        &[sf-readonly] {

            cursor: not-allowed;
            
            [sf-wrapper], input, select, textarea {

                background-color: var(--disabled-field-bg-color);
                cursor: not-allowed;
            }
        }
    }

    /**
     * @structure List Box
     * @section Layout > Forms
     * @modifiers
     *  [sf-listbox] - Styled dropdown menu.
     * @markup
     *  <div sf-listbox>
     *     <label for="textbox1">Enter some text</label>
     *     <span sf-wrapper>
     *       <svg />
     *       <select>...</select>
     *     </span>
     *     <span sf-validation-message></span>
     *  </div>
     */
    [sf-listbox] {
  
        [sf-wrapper] {

            position: relative;
            padding-left: 0.65rem;
      
            @include sf-media($from: tabp) {

                min-width: 50%;
            }
      
            svg {

                display: inline-block;
                width: 1rem;
                padding: 0;
                top: 50%;
                right: 0.65rem;
                position: absolute;
                transform: translateY(-50%);

                path.foreground {

                    fill: var(--sf-color-select-caret) !important;
                }
            }
            
            select {

                position: relative;
                width: 100%;
                max-width: 100%;
                line-height: 1.3rem;
                height: 1.3rem;
                background: transparent;
                background-image: none;
                padding: 0;
                margin: 0.5rem 0;
                padding-right: 2rem;
                border: none;
                box-shadow: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                color: var(--sf-color-dark);
                font-family: var(--sf-font-family-forms);
        
                &:focus {

                    outline: none;
                }
        
                option, optgroup {

                    padding: 0.5rem 0.75rem;
                    min-height: 1.5rem;
                    white-space: pre;
                    border-radius: 0.15rem;
                    font-family: var(--sf-font-family-forms);
                }
        
                optgroup {

                    font-weight: bold;
        
                    option:first-child {

                        padding-top: 0.75rem;
                    }
                }
            }
        }

        /**
         * @structure List Box (Multiple Choices)
         * @section Layout > Forms
         * @modifiers
         *  [sf-listbox] - Styled dropdown menu for making multiple selections.
         * @markup
         *  <div sf-listbox sf-multiple>
         *     <label for="textbox1">Enter some text</label>
         *     <span sf-wrapper>
         *       <select multiple>...</select>
         *     </span>
         *     <span sf-validation-message></span>
         *  </div>
         */
        &[sf-multiple] {

            svg {
                
                display: none;
            }
            
            [sf-wrapper] {

                background: none;
                padding: 0;
                overflow: hidden;
            }
        }
    }

    /**
     * @structure File Upload
     * @section Layout > Forms
     * @modifiers
     *  [sf-filebox] - Styled file input.
     * @markup
     *  <div sf-filebox>
     *     <label for="textbox1">Enter some text</label>
     *     <span sf-wrapper>
     *       <input type="file" />
     *     </span>
     *     <span sf-validation-message></span>
     *  </div>
     */
    [sf-filebox] {
  
        [sf-wrapper] {

            display: block;
            min-width: 100%;
            background-color: var(--sf-color-light);
            border: var(--sf-line-width) solid var(--sf-color-form-field-line);
            border-radius: 0.15rem;
      
            @include sf-media($from: tabp) {

                min-width: 50%;
                border-width: var(--sf-line-width);
            }

            // File upload fields set to 100% width to prevent overflow.
            input[type="file"] {

                width: 100%;
                display: block;
                height: auto;
            }
        }
    }

    /**
     * @structure Toggle Switch
     * @section Layout > Forms
     * @modifiers
     *  [sf-toggle] - Styled checkbox input that appears as a switch or a checkbox (or any SVG).
     * @markup
     *  <div sf-toggle>
     *    <input type="checkbox" id="checkbox4" name="checkbox">
     *    <label for="checkbox4"><svg class="sf-toggle-unchecked" /><svg class="sf-toggle-checked" /></label>
     *    <span sf-toggle-label onclick="$('#checkbox4').click();">Choice C</span>
     *  </div>
     */
    [sf-toggle], [sf-checkbox] {
    
        position: relative;
        margin: 0;
        overflow: visible;
      
        [type="checkbox"], [type="checkbox"]:active {
      
            position: absolute;
            display: none;
            height: 0;
            width: 0;
            opacity: 0;
            border: none;
            outline: none;
        }
      
        label {
      
            display: inline-block;
            position: relative;
            overflow: visible;
            font-family: var(--sf-font-family-forms);
            font-size: 1rem;
            line-height: 1.2;
            vertical-align: top;
            cursor: pointer;
        
            img, svg {
        
                display: inline-block;
                width: 2.5rem;
                height: calc(2.5rem / 1.7);
                padding: 0;

                & + img, & + svg {
          
                    display: none;
                }
            }
            
            svg.sf-toggle-unchecked, svg.sf-checkbox-unchecked {

                path.background, circle.background {

                    fill: var(--sf-color-toggle-unchecked) !important;
                }

                path.foreground, circle.foreground {

                    fill: var(--sf-color-toggle-unchecked-contrast) !important;
                }
            }

            svg.sf-toggle-checked, svg.sf-checkbox-checked {

                path.background, circle.background {

                    fill: var(--sf-color-toggle-checked) !important;
                }

                path.foreground, circle.foreground {

                    fill: var(--sf-color-toggle-checked-contrast) !important;
                }
            }
        }
      
        [type="checkbox"]:checked + label {
      
            img, svg {
        
                display: none;
          
                & + img, & + svg {
          
                    display: inline-block;
                }
            }
        }
      
        [sf-toggle-label], [sf-checkbox-label] {
      
            display: inline-block;
            cursor: pointer;
            padding-left: 0.25rem;
            width: calc(100% - 3rem);
            font-family: var(--sf-font-family-forms);
            font-size: 1rem;
            line-height: 1.6;
        }
    }
    
    [sf-checkbox] {

        label {

            img, svg {

                width: 1.25rem;
                height: calc(2.25rem / 1.7);
            }
        }
        
        [sf-checkbox-label] {

            width: calc(100% - 1.5rem);
        }
    }
    
    /**
     * @structure Radio Input
     * @section Layout > Forms
     * @modifiers
     *  [sf-radio] - Styled radio input.
     * @markup
     *  <div sf-radio>
     *    <input type="radio" id="radioh1" name="radiosh">
     *    <label for="radioh1">
     *      <span>
     *        <svg class="sf-radio-unchecked" />
     *        <svg class="sf-radio-checked" />
     *      </span>
     *      <span onclick="$('#radioh1').click();">Choice A</span>
     *    </label>
     *  </div>
     */
    [sf-radio] {
    
        overflow: visible;
        font-size: 0;
        line-height: 0;
      
        input[type="radio"] {

            display: none;
        }
      
        label {
      
            display: inline-block;
            cursor: pointer;
            font-size: 0;
            line-height: 1.4rem;
            overflow: visible;
        
            span {
        
                display: inline-block;
                position: relative;
                margin: 0;
                vertical-align: top;
                overflow: visible;
                cursor: pointer;

                svg.sf-radio-unchecked {

                    circle.background, path.background {

                        fill: var(--sf-color-radio-unchecked) !important;
                    }

                    circle.foreground, path.foreground {

                        fill: var(--sf-color-radio-unchecked-contrast) !important;
                    }
                }

                svg.sf-radio-checked {

                    circle.background, path.background {

                        fill: var(--sf-color-radio-checked) !important;
                    }

                    circle.foreground, path.foreground {

                        fill: var(--sf-color-radio-checked-contrast) !important;
                    }
                }
                
                &:nth-of-type(1) {
          
                    line-height: 0;
                    height: 1.2rem;
                    width: 1.2rem;
          
                    img, svg {
            
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 1.2rem;
                        width: 1.2rem;
              
                        & + img, & + svg {
              
                            display: none;
                        }
                    }
                }
          
                &:nth-of-type(2) {
          
                    height: auto;
                    padding-left: 0.5rem;
                    font-size: 1rem;
                    width: calc(100% - 1.2rem);
                }
            }
        }
      
        [type="radio"]:checked + label {
      
            span {
        
                &:nth-of-type(1) {
          
                    img, svg {
            
                        display: none;
              
                        & + img, & + svg {
              
                            display: block;
                        }
                    }
                }
            }
        }
    }
    
    [sf-label], [sf-textbox], [sf-listbox], [sf-filebox] {
    
        &[sf-bold] {
      
            & * {
        
                font-weight: bold;
            }
        }
    }
    
    ul, ol {
    
        &[sf-toggles], &[sf-checkboxes], &[sf-radios] {
      
            list-style: none;
            margin: 0;
            overflow: hidden;
            padding: 0;
            border: none;
            background: none;
        
            &[sf-horizontal] {
        
                li {
          
                    display: inline-block;
                    margin-right: 2rem;
                    padding-top: 0;
                    //padding-bottom: 1rem;
                }
            }
        }
    }
}
