/**
 * @nuclide Button
 *
 * Default styles for a button.
 * @section Styles > buttons
 * @markup
 *  <button />
 *  <input type="button" />
 *  <input type="submit" />
 *  <input type="cancel" />
 *  <a role="button"></a>
 */
button, a[role="button"], [sf-button] {

    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    background-color: var(--sf-color-buttons);
    color: var(--sf-color-buttons-contrast);
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    width: 100%;
    font-family: var(--sf-font-family-forms);
    border: solid var(--sf-line-width) var(--sf-color-buttons);

    @include sf-media($from: tabp) {

        width: auto;
    }

    & > * {
        
        margin: 0.5rem 0;
        user-select: none;
        font-weight: 600;
    }
    
    &:hover,
    &:focus {

        text-decoration: none;
    }

    &[sf-invert] {

        background-color: var(--sf-color-buttons-contrast);
        color: var(--sf-color-buttons);
        border-color: var(--sf-color-buttons-contrast);
    }
    
    &[disabled] {

        cursor: not-allowed;
        opacity: 0.4;
    }
    
    & > * {
        
        display: inline-block;
    }
    
    i + span {
        margin-left: 0.5rem;
    }

    span + i {
        margin-right: 0.5rem;
    }
}

input[type="button"], input[type="submit"], input[type="cancel"] {

    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    background-color: var(--sf-color-buttons);
    color: var(--sf-color-buttons-contrast);
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    width: 100%;
    font-family: var(--sf-font-family-forms);
    border: solid var(--sf-line-width) var(--sf-color-buttons);

    @include sf-media($from: tabp) {

        width: auto;
    }

    &:hover,
    &:focus {

        text-decoration: none;
    }

    &[sf-invert] {

        background-color: var(--sf-color-buttons-contrast);
        color: var(--sf-color-buttons);
        border-color: var(--sf-color-buttons-contrast);
    }

    &[disabled] {

        cursor: not-allowed;
        opacity: 0.4;
    }

    & > * {

        display: inline-block;
        font-weight: 600;
    }

    i + span {
        margin-left: 0.5rem;
    }

    span + i {
        margin-right: 0.5rem;
    }
}
