body {
    
    & > main {

        // Primary wrapped containers with an elastic max-width
        > [sf-unit] {

            article {

                &[id$="-unit"] {

                    p {

                        margin-top: 0;
                        margin-bottom: 0.8896rem;

                        @include sf-media($from: tablet-portrait) {

                            margin-bottom: 1.005rem;
                        }

                        &:last-child {

                            margin-bottom: 0;
                        }

                        &[role="definition"] {

                            @include sf-hide($from: tablet-portrait);
                        }
                    }
                }
            }
        }

        [role="grid"] {
                        
            &[id$="-grid"] {

                // Grid sample defaults
                [role="gridcell"] {

                    &:nth-child(1) {

                        & > section:not([role="grid"]) {

                            @include sf-set-color-scheme (primary);
                        }
                    }

                    &:nth-child(2) {

                        & > section:not([role="grid"]) {

                            @include sf-set-color-scheme (secondary);
                        }
                    }

                    &:nth-child(3) {

                        & > section:not([role="grid"]) {

                            @include sf-set-color-scheme (tertiary);
                        }
                    }

                    &:nth-child(4) {

                        & > section:not([role="grid"]) {

                            @include sf-set-color-scheme (quaternary);
                        }
                    }

                    &:nth-child(5) {

                        & > section:not([role="grid"]) {

                            @include sf-set-color-scheme (gold);
                        }
                    }

                    &:nth-child(6) {

                        & > section:not([role="grid"]) {

                            @include sf-set-color-scheme (green);
                        }
                    }

                    &:nth-child(7) {

                        & > section:not([role="grid"]) {

                            @include sf-set-color-scheme (orange);
                        }
                    }

                    &:nth-child(8) {

                        & > section:not([role="grid"]) {

                            @include sf-set-color-scheme (red);
                        }
                    }

                    // Nested colors
                    [role="gridcell"] {

                        &:nth-child(1) {
    
                            & > section:not([role="grid"]) {
    
                                @include sf-set-color-scheme (red);
                            }
                        }

                        &:nth-child(2) {
    
                            & > section:not([role="grid"]) {
    
                                @include sf-set-color-scheme (orange);
                            }
                        }

                        &:nth-child(3) {
    
                            & > section:not([role="grid"]) {
    
                                @include sf-set-color-scheme (green);
                            }
                        }

                        &:nth-child(4) {
    
                            & > section:not([role="grid"]) {
    
                                @include sf-set-color-scheme (gold);
                            }
                        }
                    }

                    > section:not([role="grid"]) {

                        padding-top: 0;
                        padding-bottom: 0;
                                
                        > div {

                            padding: 1.0008rem;
                            color: sf-get-color(white);

                            @include sf-media($from: tablet-portrait) {

                                padding: 1.34rem;
                            }

                            p {
                    
                                padding-top: 0.6672rem;
                                line-height: 1.3;
        
                                @include sf-media($from: tablet-portrait) {
        
                                    padding-top: 0.67rem;
                                }
                            }
        
                            h3 {
                                
                                color: sf-get-color(white);
                                font-size: 1.5568rem;
                                line-height: 1.5568rem;

                                padding-top: 0;
                                border-bottom: 0;
                                margin-top: 0;
                                margin-bottom: 0;

                                @include sf-media($from: tablet-portrait) {

                                    font-size: 1.675rem;
                                    line-height: 1.675rem;
                                }
                            }
                        }
                    }
                }

                &#nested-grid {

                    & > [role="gridcell"] {

                        &:first-of-type {

                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
