//-----------------------------------------------------------------------//
// $LAYOUT-FOOTER
//-----------------------------------------------------------------------//

body {

    & > footer {

        font-size: 0.9rem;
        text-align: center;

        padding: 2.5rem $horizontal-unit-padding;
        padding-bottom: 8rem;

        @include sf-media($from: tablet-portrait) {

            padding: 2.5rem $tablet-portrait-horizontal-unit-padding;
        }

        // Manual breakpoint to keep footer bar items indented 
        // a little wider than the elastic breakpoint.
        @media screen and (min-width: 79.6875em) {

            padding: 2.5rem 0;
        }

        p {

            margin-bottom: 0.75rem;

            @include sf-media($from: tablet-portrait) {

                margin-bottom: 0.75rem;
            }
    
            &:last-child {

                margin-bottom: 0;
            }
        }

        @include sf-media($from: tablet-portrait) {

            font-size: 0.8rem;

            [role="gridcell"] {

                &:nth-child(1) {

                    text-align: left;
                }

                &:nth-child(2) {

                    text-align: right;
                }
            }
        }
    }
}
