//-----------------------------------------------------------------------//
// $LAYOUT-HEADER
//-----------------------------------------------------------------------//

body {

    & > header {

        padding-top: 3rem;
        padding-bottom: 2rem;

        @include sf-media($from: tablet-portrait) {

            padding-top: 2.25rem;
            padding-bottom: 2.25rem;
        }

        #logo {

            padding: 0 $horizontal-unit-padding;

            @include sf-media($from: tablet-portrait) {

                padding: 0 $tablet-portrait-horizontal-unit-padding;
            }

            @include sf-media($from: elastic) {

                padding: 0;
            }

            [role="grid"] {

                margin-bottom: 0;

                > [role="gridcell"] {

                    margin-bottom: 0;

                    &:nth-child(1) {

                        @include sf-set-width(
                            $width: 17,
                            $gutter: 2%
                        );

                        @include sf-set-width(
                            $from: tablet-portrait,
                            $width: 6,
                            $gutter: 1%
                        );
                    }

                    &:nth-child(2) {

                        @include sf-set-width(
                            $width: 80,
                            $gutter: 2%
                        );

                        @include sf-set-width(
                            $from: tablet-portrait,
                            $width: 64,
                            $gutter: 1%
                        );

                        h1 {

                            margin: 0;
                            padding: 0;
                            text-transform: uppercase;
                            font-weight: 400;
                            color: sf-get-color(slate);
                            font-family: $font-logo;

                            justify-content: flex-start;

                            font-size: 3.5rem;
                            line-height: 0.85;

                            @include sf-media($from: tablet-portrait) {

                                font-size: 3.5rem;
                                line-height: 0.8;
                            }
                        }
                    }

                    &:nth-child(3) {

                        margin-top: 1.5rem;
                        font-size: 1.25rem;

                        @include sf-set-width(
                            $width: 100
                        );

                        @include sf-set-width(
                            $from: tablet-portrait,
                            $width: 30
                        );

                        div {

                            align-items: flex-end;
                        }

                        @include sf-media($from: tablet-portrait) {

                            margin-top: 0;

                            div {

                                justify-content: flex-end;
                            }
                        }
                    }
                }
            }
        }
    }
}
