//-----------------------------------------------------------------------//
// $LAYOUT-HEADER
//-----------------------------------------------------------------------//

body {

    & > header {

        background-color: var(--sf-color-light);
        color: var(--sf-color-light-contrast);
        
        &[sf-block] {

            & > [sf-block-lr-wrapper] {

                & > [sf-block-tb-wrapper] {

                    @include sf-media($upto: tabp) {

                        padding-top: 1.5rem;
                        padding-bottom: 0rem;
                    }
                }
            }

            @include sf-media($upto: tabp) {

                padding-bottom: 0;
            }
        }
    }

    #logo {

        [sf-grid] {

            > [sf-grid-cell] {

                &:nth-child(1) {

                    & > a {

                        display: inline-block;
                        line-height: 3.25rem;

                        @include sf-media($from: tabp) {

                            line-height: 4.5rem;
                        }
                    }
                }

                &:nth-child(2) {

                    h1 {

                        margin: 0;
                        padding: 0;
                        font-weight: 400;
                        font-family: $font-logo;
                        text-align: left;
                        font-size: 3.25rem;
                        line-height: 1;
                        white-space: nowrap;

                        @include sf-media($from: tabp) {

                            font-size: 4.5rem;
                            text-align: left;
                        }

                        a {

                            color: var(--sf-color-dark);
                            text-decoration: none;
                        }

                        sup {

                            font-size: 65%;
                            top: -0.4em;
                            margin-left: 0.25rem;
                        }
                    }
                }

                &:nth-child(3) {

                    margin-top: 1.5rem;
                    font-size: 1.25rem;
                    text-align: center;

                    @include sf-media($from: tabp) {

                        margin-top: 0;
                        text-align: right;
                    }

                    section {

                        @include sf-media($from: tabp) {

                            padding-top: 0.75rem;
                        }
                    }

                    h3, h4 {

                        margin-top: 0;
                        color: var(--sf-color-dark);
                    }

                    h3 {

                        margin-bottom: 0;
                    }

                    h4 {

                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
