//-----------------------------------------------------------------------//
// $TYPOGRAPHY
// This is where you create base styles for your application. The
// goal is to create sensible defaults for your layout.
//-----------------------------------------------------------------------//


//-----------------------------------------------------------------------//
// MIXINS AND FUNCTIONS
//-----------------------------------------------------------------------//



//-----------------------------------------------------------------------//
// STYLES
//-----------------------------------------------------------------------//

* {
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {

    > i.fa {

        padding-right: 0.5rem;

        @include sf-media($from: tabp) {

            padding-right: 0.5rem;
        }
    }

    em {

        font-weight: 300;
    }

    span.fa-stack {

        position: relative;
        font-size: 65%;
        vertical-align: text-top;
        left: -0.5rem;

        @include sf-media($upto: tabp) {

            display: block;
            width: 100%;
            margin-bottom: 0.5rem;
            text-align: center;
            left: 0;
            font-size: 2rem;
        }
    }
}

h1, h2, h3, h4, h5, h6 {

    & > span {
        
        &.nobr {

            display: inline-block;
            vertical-align: initial;
            top: auto;
            width: auto;
            margin-right: 0;
            margin-bottom: 0;

            white-space: nowrap;

            &.except-mobile {

                @include sf-media($upto: tabp) {

                    white-space: initial;
                }
            }
        }

        &.nobr-except-mobile {

            display: inline;
            vertical-align: initial;
            top: auto;

            white-space: initial;

            @include sf-media($from: tabp) {

                white-space: nowrap;
            }
        }
    }
}

hr {

    --sf-subunit-spacing: 0;
    --sf-zero-subunit-spacing: var(--sf-subunit-spacing);
    --sf-phab-subunit-spacing: var(--sf-zero-subunit-spacing);
    --sf-tabp-subunit-spacing: var(--sf-phab-subunit-spacing);
    --sf-tabl-subunit-spacing: var(--sf-tabp-subunit-spacing);
    --sf-note-subunit-spacing: var(--sf-tabl-subunit-spacing);
    --sf-desk-subunit-spacing: var(--sf-note-subunit-spacing);
    --sf-elas-subunit-spacing: var(--sf-desk-subunit-spacing);
    --subunit-spacing: var(--sf-zero-subunit-spacing);

    @include sf-media($from: phab) {

        --subunit-spacing: var(--sf-phab-subunit-spacing);
    }

    @include sf-media($from: tabp) {

        --subunit-spacing: var(--sf-tabp-subunit-spacing);
    }

    @include sf-media($from: tabl) {

        --subunit-spacing: var(--sf-tabl-subunit-spacing);
    }

    @include sf-media($from: note) {

        --subunit-spacing: var(--sf-note-subunit-spacing);
    }

    @include sf-media($from: desk) {

        --subunit-spacing: var(--sf-desk-subunit-spacing);
    }

    @include sf-media($from: elas) {

        --subunit-spacing: var(--sf-elas-subunit-spacing);
    }

    margin-bottom: var(--subunit-spacing);

    &:last-child {

        margin-bottom: 0;
    }
}

h1 {

    @include sf-media($upto: tabp) {

        text-align: center;
    }
}
