//-----------------------------------------------------------------------//
// $COLOR
// Mixins, functions, and styles for using and working with colors.
//-----------------------------------------------------------------------//


//-----------------------------------------------------------------------//
// MIXINS AND FUNCTIONS
//-----------------------------------------------------------------------//

// Get a color from the color maps.
@function sf-get-color($name, $index: 1) {

    @if map-has-key($base-colors, $name) {

        @return nth(map-get($base-colors, $name), $index);

    } @else {

        @if map-has-key($theme-colors, $name) {

            @return nth(map-get($theme-colors, $name), $index);

        } @else {

              @warn "Color " + $name + " wasn't found.";

              @return yellow;
        }
    }
}

// Get a background color value from the color maps.
@function sf-get-background-color($name) {

    @return sf-get-color($name, 1);
}

// Get a foreground color value from the color maps.
@function sf-get-foreground-color($name) {

    @return sf-get-color($name, 2);
}

// Get an anchor color value from the color maps.
@function sf-get-anchor-color($name) {

    @return sf-get-color($name, 3);
}

// Get a headline color value from the color maps.
@function sf-get-headline-color($name) {

    @return sf-get-color($name, 4);
}

@mixin sf-set-color-scheme ($color, $darken-bg-percentage:false, $lighten-bg-percentage:false) {

    color: sf-get-foreground-color($color);
    
    @if $darken-bg-percentage != false {

        background-color: darken(sf-get-color($color), to-number($darken-bg-percentage));

    } @else if $lighten-bg-percentage != false {

        background-color: lighten(sf-get-color($color), to-number($lighten-bg-percentage));

    } @else {

        background-color: sf-get-color($color);
    }
    
    a:not([role="button"]) {

        color: sf-get-anchor-color($color);
    }

    h1, h2, h3, h4, h5, h6 {

        color: sf-get-headline-color($color);
    }
}


//-----------------------------------------------------------------------//
// STYLES
//-----------------------------------------------------------------------//

// TBD
