//-----------------------------------------------------------------------//
// $TYPOGRAPHY
// Mixins and functions for working with typography.
//-----------------------------------------------------------------------//


//-----------------------------------------------------------------------//
// MIXINS AND FUNCTIONS
//-----------------------------------------------------------------------//

// TBD


//-----------------------------------------------------------------------//
// STYLES
//-----------------------------------------------------------------------//

pre, code {

    display: block;

    @include sf-margin-vertical(0.8896rem);

    overflow: scroll;
    @include sf-set-color-scheme(graylightest);

    @include sf-media($from: tablet-portrait) {

        @include sf-margin-vertical(1.34rem);
    }

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;

    &[aria-label] {

        display: inline-block;
        overflow: visible;
        margin-top: 0;
        margin-bottom: 0;
        @include sf-padding-vertical(0.0336rem);
        @include sf-padding-horizontal(0.4448rem);

        @include sf-media($from: tablet-portrait) {

            @include sf-padding-vertical(0.0336rem);
            @include sf-padding-horizontal(0.5025rem);
        }
    }

    &:not([class*="language-"]) {

        @include sf-margin-vertical(0.8896rem);
        @include sf-padding-vertical(0.4448rem);
        @include sf-padding-horizontal(0.6672rem);

        @include sf-media($from: tablet-portrait) {

            @include sf-margin-vertical(1.34rem);
            @include sf-padding-vertical(0.67rem);
            @include sf-padding-horizontal(1.005rem);
        }
    }
}

code {

    display: inline-block;
    margin: 0;
}

pre[class*="language-"] {

    @include sf-margin-vertical(0.8896rem);

    @include sf-media($from: tablet-portrait) {

        @include sf-margin-vertical(1.34rem);
    }
}

pre {

    & > code {

        display: block;
    }
}

blockquote {

    border-left: solid 0px sf-get-background-color(graylightest);
    border-left-width: 0.4448rem;

    padding-left: 1.3344rem;
    padding-right: 1.3344rem;
    @include sf-margin-vertical(1.7792rem);
    @include sf-margin-horizontal(0);

    @include sf-media($from: tablet-portrait) {

        border-left-width: 0.67rem;
        padding-left: 1.675rem;
        padding-right: 4.02rem;
        @include sf-margin-vertical(1.675rem);
        @include sf-margin-horizontal(2.68rem);
    }
}

h1, h2, h3, h4, h5, h6 {

    margin-top: 0;
    margin-bottom: 1.112rem;

    font-weight: 400;

    @include sf-media($from: tablet-portrait) {

        margin-bottom: 1.675rem;
    }
}
