//-----------------------------------------------------------------------//
// $LAYOUT
// Mixins, functions, and styles for working with units and grids.
//-----------------------------------------------------------------------//


//-----------------------------------------------------------------------//
// MIXINS AND FUNCTIONS
//-----------------------------------------------------------------------//

/* GRID DEFAULTS

<div role="grid" sf-columns="2" sf-gutters sf-equal-heights sf-centered sf-reverse>
    <div role="gridcell">...</div>
    <div role="gridcell">...</div>
    ...
</div>
*/

@mixin sf-grid-init(
    $fraction: one-whole,
    $gutter: false,
    $row-gutter: false,
    $grid-bottom-gutter: false
) {

    @include sf-flexbox-grid(
        $upto: tablet-portrait, 
        $gridcell-width: one-whole, 
        $gutter: $gutter,
        $row-gutter: if($row-gutter, $gridcell-vertical-gutter, 0)
    );

    @include sf-flexbox-grid(
        $from: tablet-portrait, 
        $gridcell-width: $fraction, 
        $gutter: $gutter, 
        $row-gutter: if($row-gutter, $gridcell-vertical-gutter, 0)
    );

    @include sf-flexbox-grid(
        $from: tablet-landscape, 
        $gridcell-width: $fraction, 
        $gutter: $gutter, 
        $row-gutter: if($row-gutter, $gridcell-vertical-gutter, 0)
    );

    @include sf-flexbox-grid(
        $from: notebook, 
        $gridcell-width: $fraction, 
        $gutter: $gutter, 
        $row-gutter: if($row-gutter, $gridcell-vertical-gutter, 0)
    );

    @include sf-flexbox-grid(
        $from: desktop, 
        $gridcell-width: $fraction, 
        $gutter: $gutter, 
        $row-gutter: if($row-gutter, $gridcell-vertical-gutter, 0)
    );

    @include sf-flexbox-grid(
        $from: elastic, 
        $gridcell-width: $fraction, 
        $gutter: $gutter, 
        $row-gutter: if($row-gutter, $gridcell-vertical-gutter, 0)
    );

    &[sf-reverse] {

        flex-direction: row-reverse;
    }

    &[sf-equal-heights] {

        @include sf-make-equal-heights();
    }

    &[sf-centered] {

        @include sf-make-centered-grid();
    }

    &[sf-bottom-gutter] {

        padding-bottom: $grid-vertical-gutter;
    }
}


//-----------------------------------------------------------------------//
// STYLES
//-----------------------------------------------------------------------//

html, body {

    // Needed for mobile
    overflow-x: hidden;
    max-width: 100vw;
}

body {

    // Needed for mobile
    position: relative;

    //------------------------------------//
    //  PRIMARY SITE WRAPPER
    //------------------------------------//
    header, main, footer {

        @if (map-get($media-breakpoints, elastic) != false) {

            max-width: $elastic-breakpoint;
        }

        margin-left: auto;
        margin-right: auto;
    }
}

[role="grid"] {

    &:not([sf-columns]) {

        @include sf-flexbox-grid();

        &[sf-reverse] {

            flex-direction: row-reverse;
        }
    
        &[sf-equal-heights] {

            @include sf-make-equal-heights();
        }
    
        &[sf-centered] {
    
            @include sf-make-centered-grid();
        }
    }

    $counter: 1;

    @each $width in $grid-increments {

        &[sf-columns="#{$counter}"]:not([sf-gutters]) {

            // #{$counter}
            @include sf-grid-init(
                $fraction: #{$width},
                $gutter: 0
            );
        }

        $counter: $counter + 1;
    }

    $counter: 1;

    @each $width in $grid-increments {

        &[sf-columns="#{$counter}"][sf-gutters] {

            @include sf-grid-init(
                $fraction: #{$width},
                $gutter: map-get($grid-gutters, $width),
                $row-gutter: true,
                $grid-bottom-gutter: true
            );
        }

        $counter: $counter + 1;
    }

    & > [role="gridcell"] {

        [role="grid"] {

            &[sf-columns="1"], 
            &[sf-columns="2"], 
            &[sf-columns="3"], 
            &[sf-columns="4"], 
            &[sf-columns="5"], 
            &[sf-columns="6"], 
            &[sf-columns="7"], 
            &[sf-columns="8"], 
            &[sf-columns="9"], 
            &[sf-columns="10"], 
            &[sf-columns="11"], 
            &[sf-columns="12"] {

                margin-bottom: #{$gridcell-vertical-gutter * -1};

                & > [role="gridcell"] {

                    &:not([continuous]) {

                        margin-bottom: #{$gridcell-vertical-gutter};
                    }
                }
            }
        }
    }
}


/* UNIT STYLING
These are the outer block containers that you stack to create your UX.

<main>
    <section id="hero-unit" sf-unit>
        <div sf-outer-wrapper>
            <div sf-inner-wrapper>
                ...
            </div>
        </div>
    </div>
    <section id="feature-unit" sf-unit>
        <div sf-outer-wrapper>
            <div sf-inner-wrapper>
                ...
            </div>
        </div>
    </div>
    ...
*/

main {

    & > [sf-unit] {

        &:not(:last-of-type) {

            @include set-bottom-unit-padding();
        }

        &, &:last-of-type {

            @include set-bottom-unit-padding();
        }

        & > div[sf-outer-wrapper] {

            margin-left: auto;
            margin-right: auto;

            @if (map-get($media-breakpoints, elastic) != false) {

                max-width: $elastic-breakpoint;
            }

            @include set-horizontal-unit-padding();

            & > div[sf-inner-wrapper] {

                @include set-top-unit-padding();

                & > * {

                    &:first-child {

                        margin-top: 0;
                    }
                }
            }
        }

        & > *:first-child {

            margin-top: 0;
        }
    }
}

h1, h2, h3, h4, h5, h6 {

    &:first-child {

        margin-top: 0;
    }

    &:last-child {

        margin-bottom: 0;
    }
}

[role="gridcell"] + [role="gridcell"] {

    @include sf-media($upto: tablet-portrait) {

        h1, h2, h3, h4, h5, h6 {

            &:first-child {

                margin-top: calc(#{$headline-top-margin} - #{$gridcell-vertical-gutter});
            }
        }
    }
}
