/**
 * @nuclide Visually Hide
 * @section Mixins > Styles
 * @modifiers
 *  [sf-visually-hide], [sf-visually-hide-{breakpoint}-and-up], [sf-visually-hide-below-{breakpoint}] - Visually hide an element based on media breakpoints without using `display: none`.
 * @markup
 *  <div sf-hide></div>
 *  <div sf-hide-tabp-and-up></div>
 */
@each $breakpoint, $value in $media-breakpoints {

    @if ($value != false) {

        @if ($breakpoint == zero) {

            [sf-visually-hide], [sf-zero-visually-hide] {

                border: 0;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

        } @else {

            @include sf-media($from: $breakpoint) {

                [sf-visually-hide-#{$breakpoint}-and-up] {

                    border: 0;
                    clip: rect(0 0 0 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                }
            }

            @include sf-media($upto: $breakpoint) {

                [sf-visually-hide-below-#{$breakpoint}] {

                    border: 0;
                    clip: rect(0 0 0 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                }
            }
        }
    }
}

/**
 * @nuclide Hide
 * @section Mixins > Styles
 * @modifiers
 *  [sf-hide], [sf-hide-{breakpoint}-and-up], [sf-hide-below-{breakpoint}] - Hide an element based on media breakpoints using `display: none`.
 * @markup
 *  <div sf-hide></div>
 *  <div sf-hide-tabp-and-up></div>
 */
@each $breakpoint, $value in $media-breakpoints {

    @if ($value != false) {

        @if ($breakpoint == zero) {

            [sf-hide], [sf-zero-hide] {

                display: none !important;
            }

        } @else {

            @include sf-media($from: $breakpoint) {

                [sf-hide-#{$breakpoint}-and-up] {

                    display: none !important;
                }
            }

            @include sf-media($upto: $breakpoint) {

                [sf-hide-below-#{$breakpoint}] {

                    display: none !important;
                }
            }
        }
    }
}

