//------------------------------------//
//  $INITIALIZE
//------------------------------------//

//-----------------------------------------------------------------------//
// Reset defaults and instantiate settings from _CONFIG partial
//-----------------------------------------------------------------------//

// All elements will adopt `box-sizing:border-box;`
// as per paulirish.com/2012/box-sizing-border-box-ftw
* {
    
    &,
    &:before,
    &:after { box-sizing: border-box; }

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;

    word-spacing: initial;
    letter-spacing: initial;
    word-break: break-word;

    & > * {

        font-weight: inherit;
    }
}
    
html {

    font-family: $font-body;
    font-size: $font-size;
    line-height: $line-height;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    $largest-font-size: $font-size;
    $largest-line-height: $line-height;

    @if ($phablet-font-size and $phablet-breakpoint) {

        $largest-font-size: $phablet-font-size;
        $largest-line-height: $phablet-line-height;
    
        @include sf-media($from: phablet) {

            font-size: $phablet-font-size;
            line-height: $phablet-line-height;
        }
    }

    @if ($tablet-portrait-font-size and $tablet-portrait-breakpoint) {

        $largest-font-size: $tablet-portrait-font-size;
        $largest-line-height: $tablet-portrait-line-height;

        @include sf-media($from: tablet-portrait) {

            font-size: $tablet-portrait-font-size;
            line-height: $tablet-portrait-line-height;
        }
    }

    @if ($tablet-landscape-font-size and $tablet-landscape-breakpoint) {

        $largest-font-size: $tablet-landscape-font-size;
        $largest-line-height: $tablet-landscape-line-height;

        @include sf-media($from: tablet-landscape) {

            font-size: $tablet-landscape-font-size;
            line-height: $tablet-landscape-line-height;
        }
    }

    @if ($notebook-font-size and $notebook-breakpoint) {

        $largest-font-size: $notebook-font-size;
        $largest-line-height: $notebook-line-height;

        @include sf-media($from: notebook) {

            font-size: $notebook-font-size;
            line-height: $notebook-line-height;
        }
    }

    @if ($desktop-font-size and $desktop-breakpoint) {

        $largest-font-size: $desktop-font-size;
        $largest-line-height: $desktop-line-height;

        @include sf-media($from: desktop) {

            font-size: $desktop-font-size;
            line-height: $desktop-line-height;
        }
    }

    @if ($elastic-breakpoint) {

        @if ($elastic-font-size) {
        
            $largest-font-size: $elastic-font-size;
            $largest-line-height: $elastic-line-height;
        }

        @include sf-media($from: elastic) {

            font-size: sf-get-max-elastic-width($largest-font-size);
            line-height: $largest-line-height;
        }
    }

    h1, h2, h3, h4, h5, h6 {

        font-family: $font-head;
    }

    h1 {

        font-size: $h1-font-size * $h1-multiplier;
        line-height: $h1-line-height;

        @if ($phablet-breakpoint) {

            @include sf-media($from: phablet) {

                font-size: $h1-font-size * $phablet-h1-multiplier;
            }
        }

        @if ($tablet-portrait-breakpoint) {

            @include sf-media($from: tablet-portrait) {

                font-size: $h1-font-size * $tablet-portrait-h1-multiplier;
            }
        }

        @if ($tablet-landscape-breakpoint) {

            @include sf-media($from: tablet-landscape) {

                font-size: $h1-font-size * $tablet-landscape-h1-multiplier;
            }
        }

        @if ($notebook-breakpoint) {

            @include sf-media($from: notebook) {

                font-size: $h1-font-size * $notebook-h1-multiplier;
            }
        }

        @if ($desktop-breakpoint) {

            @include sf-media($from: desktop) {

                font-size: $h1-font-size * $desktop-h1-multiplier;
            }
        }

        @if ($elastic-breakpoint) {

            @include sf-media($from: elastic) {

                font-size: $h1-font-size * $elastic-h1-multiplier;
            }
        }
    }

    h2 {

        font-size: $h2-font-size * $h2-multiplier;
        line-height: $h2-line-height;

        @if ($phablet-breakpoint) {

            @include sf-media($from: phablet) {

                font-size: $h2-font-size * $phablet-h2-multiplier;
            }
        }

        @if ($tablet-portrait-breakpoint) {

            @include sf-media($from: tablet-portrait) {

                font-size: $h2-font-size * $tablet-portrait-h2-multiplier;
            }
        }

        @if ($tablet-landscape-breakpoint) {

            @include sf-media($from: tablet-landscape) {

                font-size: $h2-font-size * $tablet-landscape-h2-multiplier;
            }
        }

        @if ($notebook-breakpoint) {

            @include sf-media($from: notebook) {

                font-size: $h2-font-size * $notebook-h2-multiplier;
            }
        }

        @if ($desktop-breakpoint) {

            @include sf-media($from: desktop) {

                font-size: $h2-font-size * $desktop-h2-multiplier;
            }
        }

        @if ($elastic-breakpoint) {

            @include sf-media($from: elastic) {

                font-size: $h2-font-size * $elastic-h2-multiplier;
            }
        }
    }

    h3 {

        font-size: $h3-font-size * $h3-multiplier;
        line-height: $h3-line-height;

        @if ($phablet-breakpoint) {

            @include sf-media($from: phablet) {

                font-size: $h3-font-size * $phablet-h3-multiplier;
            }
        }

        @if ($tablet-portrait-breakpoint) {

            @include sf-media($from: tablet-portrait) {

                font-size: $h3-font-size * $tablet-portrait-h3-multiplier;
            }
        }

        @if ($tablet-landscape-breakpoint) {

            @include sf-media($from: tablet-landscape) {

                font-size: $h3-font-size * $tablet-landscape-h3-multiplier;
            }
        }

        @if ($notebook-breakpoint) {

            @include sf-media($from: notebook) {

                font-size: $h3-font-size * $notebook-h3-multiplier;
            }
        }

        @if ($desktop-breakpoint) {

            @include sf-media($from: desktop) {

                font-size: $h3-font-size * $desktop-h3-multiplier;
            }
        }

        @if ($elastic-breakpoint) {

            @include sf-media($from: elastic) {

                font-size: $h3-font-size * $elastic-h3-multiplier;
            }
        }
    }

    h4 {

        font-size: $h4-font-size * $h4-multiplier;
        line-height: $h4-line-height;

        @if ($phablet-breakpoint) {

            @include sf-media($from: phablet) {

                font-size: $h4-font-size * $phablet-h4-multiplier;
            }
        }

        @if ($tablet-portrait-breakpoint) {

            @include sf-media($from: tablet-portrait) {

                font-size: $h4-font-size * $tablet-portrait-h4-multiplier;
            }
        }

        @if ($tablet-landscape-breakpoint) {

            @include sf-media($from: tablet-landscape) {

                font-size: $h4-font-size * $tablet-landscape-h4-multiplier;
            }
        }

        @if ($notebook-breakpoint) {

            @include sf-media($from: notebook) {

                font-size: $h4-font-size * $notebook-h4-multiplier;
            }
        }

        @if ($desktop-breakpoint) {

            @include sf-media($from: desktop) {

                font-size: $h4-font-size * $desktop-h4-multiplier;
            }
        }

        @if ($elastic-breakpoint) {

            @include sf-media($from: elastic) {

                font-size: $h4-font-size * $elastic-h4-multiplier;
            }
        }
    }

    h5 {

        font-size: $h5-font-size * $h5-multiplier;
        line-height: $h5-line-height;

        @if ($phablet-breakpoint) {

            @include sf-media($from: phablet) {

                font-size: $h5-font-size * $phablet-h5-multiplier;
            }
        }

        @if ($tablet-portrait-breakpoint) {

            @include sf-media($from: tablet-portrait) {

                font-size: $h5-font-size * $tablet-portrait-h5-multiplier;
            }
        }

        @if ($tablet-landscape-breakpoint) {

            @include sf-media($from: tablet-landscape) {

                font-size: $h5-font-size * $tablet-landscape-h5-multiplier;
            }
        }

        @if ($notebook-breakpoint) {

            @include sf-media($from: notebook) {

                font-size: $h5-font-size * $notebook-h5-multiplier;
            }
        }

        @if ($desktop-breakpoint) {

            @include sf-media($from: desktop) {

                font-size: $h5-font-size * $desktop-h5-multiplier;
            }
        }

        @if ($elastic-breakpoint) {

            @include sf-media($from: elastic) {

                font-size: $h5-font-size * $elastic-h5-multiplier;
            }
        }
    }

    h6 {

        font-size: $h6-font-size * $h6-multiplier;
        line-height: $h6-line-height;

        @if ($phablet-breakpoint) {

            @include sf-media($from: phablet) {

                font-size: $h6-font-size * $phablet-h6-multiplier;
            }
        }

        @if ($tablet-portrait-breakpoint) {

            @include sf-media($from: tablet-portrait) {

                font-size: $h6-font-size * $tablet-portrait-h6-multiplier;
            }
        }

        @if ($tablet-landscape-breakpoint) {

            @include sf-media($from: tablet-landscape) {

                font-size: $h6-font-size * $tablet-landscape-h6-multiplier;
            }
        }

        @if ($notebook-breakpoint) {

            @include sf-media($from: notebook) {

                font-size: $h6-font-size * $notebook-h6-multiplier;
            }
        }

        @if ($desktop-breakpoint) {

            @include sf-media($from: desktop) {

                font-size: $h6-font-size * $desktop-h6-multiplier;
            }
        }

        @if ($elastic-breakpoint) {

            @include sf-media($from: elastic) {

                font-size: $h6-font-size * $elastic-h6-multiplier;
            }
        }
    }

    pre, code {
        
        font-family: $font-mono;
    }

    code {
        
        vertical-align: top;
    }
}
